* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteyner {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 50px 100px;
  flex-direction: column;
  gap: 20px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 187, 0, 0.637);
  position: relative;
}

.box::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(217, 255, 0);
  position: absolute;
  top: 0;
  animation: anime 1s ease-in-out calc(var(--i) * 0.1s) infinite alternate;
}

@keyframes anime {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  40% {
    left: 600px;
  }
  47% {
    left: 500px;
  }
  60% {
    left: 530px;
  }
  100% {
    left: 530px;
  }
}
